<div class="table-responsive">
	<table class="table table-hover" th:fragment="tableUsers" id="tableUsers">
		<thead>
			<tr>
				<th th:text="#{userEmail.message}">Email</th>
				<th th:text="#{userName.message}">Nombre</th>
				<th th:text="#{userSurname.message}">Apellidos</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${usersList}">
				<td th:text="${user.email}">Email</td>
				<td th:text="${user.name}">Nombre</td>
				<td th:text="${user.lastName}">Apellidos</td>
			</tr>
		</tbody>
	</table>
</div>