<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{agregarPost.message}">Agregar Publicación</h2>
		<form class="form-horizontal" method="post" action="/post/add" id="postForm"
			th:object="${post}">
			<div class="form-group">
				<label class="control-label col-sm-2" for=”role”>Título:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="title"
						th:placeholder="#{post.titlePH.message}" /> <span class="text-danger"
						th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="contents">Texto:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="contents"
						th:placeholder="#{post.textPH.message}" /> <span class="text-danger"
						th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" th:text="#{submitBtn.message}">Enviar</button>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>